@page
@model QLNVSSV.WebApp.Pages.ScheduleModel
@{
}

<style>








    .header {
        display: flex;
        justify-content: space-between;
    }





    .header {
        margin-top: 10px;
        display: flex;
        height: 38px;
        align-items: center;
    }

    .search_header {
        display: flex;
    }

        .search_header .btn_search {
            background-color: #4e92df;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            height: 100%;
            margin: 0;
            padding: 10px 20px;
        }

        .search_header input:first-child {
            width: 200px;
            margin-right: 10px;
            outline: none;
            padding-left: 10px;
            border: 1px solid #4e92df;
        }

    .link_btn {
        background-color: #4e92df;
        font-size: 16px;
        color: white;
        padding: 10px 20px;
        border-radius: 2px;
    }

    .btn_search:hover {
        background: #2e7dd6;
        transition: 0,4s;
    }

    .link_btn:hover {
        background: #2e7dd6;
        transition: 0,4s;
    }

    .view:hover {
        color: #2e7dd6;
    }

    .form-search {
        display: flex;
    }

    .form-group {
        margin-right: 20px;
    }
</style>

<div style="height:200px;margin-top:20px;">
    <form method="post">
        <div class="form-search">
            <div class="form-group">
                <input type="text" name="EmployeeName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập tên nhân viên">
            </div>

            <button style="height:38px;" type="submit" class="btn btn-success">Tìm kiếm nâng cao</button>
        </div>


        <br />

        <div class="form-search">
            <div class="form-group">
                <label for="exampleInputEmail1">Vị trí</label>
                <select class="form-control" name="Position">
                    <option value="0">Chọn vị trí</option>
                    @foreach (var item in Model.listPositions)
                    {
                        <option value="@item.PositionId">@item.PositionName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Chức danh</label>
                <select class="form-control" name="Title">
                    <option value="0">Chọn chức vụ</option>
                    @foreach (var item in Model.listTitle)
                    {
                        <option value="@item.TitleId">@item.TitleName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Liên hệ</label>
                <select class="form-control" name="Soliratity">
                    <option value="0">Chưa liên hệ</option>
                    <option value="1">Liên hệ được</option>
                    <option value="2">Không liên hệ được</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Từ</label>
                <input type="date" class="form-control" id="exampleInputPassword1" name="Start">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Đến</label>
                <input type="date" class="form-control" id="exampleInputPassword1" name="End">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Địa điểm</label>
                <select class="form-control" name="InterviewAddress">
                    <option></option>
                    <option value="HN">Hà Nội</option>
                    <option value="HUE">Huế</option>
                </select>
            </div>

        </div>
        <button type="submit" class="btn btn-success">Tìm kiếm</button>
        <button id="reset" type="button" class="btn btn-success">Đặt lại</button>

    </form>

</div>

<table style="margin-top:20px" class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Họ Tên</th>
            <th scope="col">Tên vị trí</th>
            <th scope="col">Chức danh</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Thời gian PV</th>
            <th scope="col">Địa điểm PV</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody id="tablebody">
        @foreach (var item in Model.listEmployee)
        {
            <tr id="row_@item.EmployeeId">
                <td scope="col">@item.EmployeeId</td>
                <td scope="col">@item.EmployeeName</td>
                <td scope="col">@item.PositionName</td>
                <td scope="col">@item.TitleName</td>
                <td scope="col">@item.Email</td>
                <td scope="col">@item.PhoneNumber</td>
                <td scope="col" id="trthoigian">
                    @{
                        var time = DateTime.Parse("0001-01-01 00:00:00.0000000");
                        if (item.InterviewTime != time)
                        {
                            @item.InterviewTime.ToString("dd/MM/yyyy hh:mm tt")
                        }
                    }
                </td>
                <td scope="col" id="trdiadiem">@item.InterviewAddress</td>
                <td scope="col" id="trghichu">@item.Note</td>
                <td scope="col">
                    <button onclick="Momodal(@item.EmployeeId)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Đặt Lịch
                    </button>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputEmail1">Người phỏng vấn</label>
                    <select id="interviewer" class="form-control form-select" aria-label="Default select example">
                        @foreach (var item in Model.listInterviewer)
                        {
                            <option  class="option_interviewer" value="@item.EmployeeId">@item.EmployeeName</option>

                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Ngày phỏng vấn</label>
                    <input id="interviewTime" class="form-control" type="datetime-local" value="">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Địa điểm</label>
                    <select id="interviewAddress" class="form-control form-select" aria-label="Default select example">
                        <option value="HN">HN</option>
                        <option value="HUE">Hue</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="datlich()" type="button" class="btn btn-primary">Tạo</button>
            </div>

        </div>
    </div>
</div>

<script>
    var listinterviewer = document.getElementsByClassName('option_interviewer');
    var arr = [];
    var arrEmployeeName = [];
    for (var i = 0; i < listinterviewer.length; i++) {
        arr.push(listinterviewer[i].value)
        arrEmployeeName.push(listinterviewer[i].textContent)
    }
    var idtarget

    function Momodal(id) {
        idtarget=id
        fetch('http://localhost:37919/api/Employee/' + id + '')
            .then(response => response.json())
            .then(data => {
                var html = '';
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i] == data.interviewerId) {
                        html += `<option selected="selected" class="option_interviewer" value="${arr[i]}">${arrEmployeeName[i]}</option>`
                    }
                    else {
                        html += `<option class="option_interviewer" value="${arr[i]}">${arrEmployeeName[i]}</option>`
                    }
                }
                document.getElementById('interviewer').innerHTML = html
                $('#interviewTime').val(data.interviewTime)
            })
        
    }


    function datlich() {
        var data = {
            InterviewerId: document.getElementById('interviewer').value,
            InterviewTime: $('#interviewTime').val(),
            EmployeeId: idtarget,
            InterviewAddress: $('#interviewAddress').val()
        }
        console.log(data)
        fetch('http://localhost:37919/api/Employee/UpdateSchedule', {
            method: 'PUT', // or 'PUT'
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json)
            .then(data => {
                console.log(document.getElementById('interviewer').value)
                window.location.reload();
            })
    }
    
</script>